/* You can add global styles to this file, and also import other style files */

/* Leaflet global styles (required for correct tile/layout rendering) */
@import "leaflet/dist/leaflet.css";

html, body, app-root { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* ensure app-root expands so component 100% heights work */
app-root { display: block; height: 100%; }
